42cc-pystyle==0.0.15
Django==1.6.7
argparse==1.2.1
coverage==4.0.1
dateutils==0.6.6
flake8==2.4.1
mccabe==0.3.1
pep8==1.5.7
pyflakes==0.8.1
python-dateutil==2.4.2
pytz==2015.6
six==1.10.0
wsgiref==0.1.2
