{% extends "thetask/base.html" %}

{% block title%}
    {% if user.is_authenticated %}
        It your The Task list - {{user.username}}
    {% else %}
        The Task langing
    {% endif %}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock%}
{% block sub_content %}
<!-- Main content block -->
{% if user.is_authenticated %}
<p>Hello {{user.username}}!</p>
{% else %}
<a href="#">Register</a>
{% endif %}
    <script src="/bower_components/material-design-lite/material.min.js"></script>
{% endblock %}