{% extends "thetask/base.html" %}

{% block title%}
    {% if user.is_authenticated %}
        It your The Task list - {{user.username}}
    {% else %}
        The Task langing
    {% endif %}
{% endblock %}

{% block nav_links %}
    <!-- Main content block -->
    {% if user.is_authenticated %}
        <a class="mdl-navigation__link" href="#">{{user.username}}</a>
    {% else %}
        <a class="mdl-navigation__link" href="#">Register</a>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="/static/components/material-design-lite/material.min.js"></script>
{% endblock %}