{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'test_app/css/edit-user.css' %}">
{{form.media}}
{% endblock %}
{% block content %}
<section class="container">
    <h1 class="text-center">42 Coffee Cups Test Assignment</h1>
    <form id="edit-user-form" method="POST" enctype='multipart/form-data' action="/">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-5 col-md-offset-1">
                <div class="form-group">{{form.first_name.label_tag}}{{form.first_name}}</div>
                <div class="form-group">{{form.last_name.label_tag}}{{form.last_name}}</div>
                <div class="form-group">{{form.birthday.label_tag}}{{form.birthday}}</div>
                <div class="form-group">
                    {{form.photo.label_tag}}{{form.photo}}
                    <div class="thumbnail">
                        {% if not form.instance.photo %}
                        <img src="{% static 'test_app/img/no_image.jpg'%}">
                        {% else %}
                        <img src="{{form.instance.photo.url}}">
                        {% endif %}    
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">{{form.email.label_tag}}{{form.email}}</div>
                <div class="form-group">{{form.skype_id.label_tag}}{{form.skype_id}}</div>
                <div class="form-group">{{form.jabber_id.label_tag}}{{form.jabber_id}}</div>
                <div class="form-group">{{form.other_contacts.label_tag}}{{form.other_contacts}}</div>
                <div class="form-group">{{form.biography.label_tag}}{{form.biography}}</div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary col-md-offset-1">Save</button>
        <a href="/" class="btn btn-default">Cancel</a>
    </form>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{% static 'js/jquery.form.min.js' %}"></script>
<script src="{% static 'test_app/js/edit_user.js' %}"></script>
</section>
{% endblock %}