{% extends "base.html" %}

{% block content %}
<h1>42 Coffee Cups Test Assignment</h1>
<div class="col1">
    <h4>{{user.first_name}}</h4>
    <h4>{{user.last_name}}</h4>
    <h4>{{user.birthday|date:"Y-m-d"}}</h4>    
    <div class="field">
        <h4>Bio:</h4>
        <div>{{user.biography}}</div>        
    </div>
</div>
<div class="col2">
    <h3>Contacts</h3>
    <div class="field">
        <h4>Email:</h4>
        <div>{{user.email}}</div>
    </div>
    <div class="field">
        <h4>Jabber:</h4>
        <div>{{user.jubber_id}}</div>
    </div>
    <div class="field">
        <h4>Skype:</h4>
        <div>{{user.skype_id}}</div>
    </div>
    <div class="field">
        <h4>Other contacts:</h4>
        <div>{{user.other_contacts}}</div>
    </div>
</div>
{% endblock %}